
<app-header [isMenuVisible]="isMenuVisible" [isBtnVisible] = "isBtnVisible"></app-header>
<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3"  style="padding: 20px 0 20px 0">
        <div class="col-md-4">
            <h4 class="text-white" style="font-family: sans-serif">LOGIN FOR PREMIUM ACCESS:</h4> 
            <form>
                <div class="form-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="User name" required="required" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control border-0 p-4" placeholder="Password" required="required" />
                </div>
                <!-- <div class="form-group">
                    <select class="custom-select border-0 px-4" style="height: 47px;">
                        <option selected>-Select-</option>
                        <option value="1">Coach</option>
                        <option value="2">Player</option>
                    </select>
                </div> -->
                <p>
                    <a routerLink="/register" routerLinkActive="active" style="color: white" href="">New user? Sign UP today</a>
                    </p>
                <div>
                    <button class="btn btn-secondary btn-block border-0 py-3" type="submit">TRY DEMO VESRION FOR FREE</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">            
            <p class="text-white mb-4">Prospect's advanced algorithm calculates the weighted criteria of individiual coaches and players and connects each with each other based on that criteria. Prospect allows everyone from around the world to have exposure to collegiate tennis. This tool allows coaches to fill their rosters with elidgble prospects and allows players to connect with schools that fit their preferences.</p>
        </div>
        <div class="col-md-4 text-center text-lg-right">            
        </div>
    </div>
</div>
<!-- Header End -->